# This is a sample .env file for use in local development.
# Duplicate this file as .env in the root of the project
# and update the environment variables to match your
# desired config.

# Variables in Vite must be prefixed with VITE_ to be exposed to your React code
VITE_API_URL=http://localhost:8000
VITE_APP_NAME=UteshiyaMedicare
